.card {
    margin: 1em;
}
.cardHolder {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    padding: 1em;
}
.card-img-top{
    width: 100%;
    height: 14em;
}
.btn-primary {
    width: 36%;
    margin: 0 1.1em;
    color: black;
    background-color: whitesmoke;
    border-color: black;
    --bs-btn-hover-bg: black;
    --bs-btn-border-color: black;
     --bs-btn-hover-border-color: black;
}


.card-title , p.card-text {
    display: flex;
    justify-content: space-evenly;
}

svg.svg-inline--fa.fa-cart-plus {
    margin-left: 0.4em;
}